#Ignore userprefs file (Contains stuff like which files you have open)
*.userprefs
#Ignore MonoDevelop Parser Information Database
*.pidb
#Ignore build output folders
bin/
test-results/
Tomboy-library/Tomboy-library-tests/test_notes/proper_notes/Backup

DevDefined.OAuth/src/DevDefined.OAuth/obj/
obj/
nuget-packages/*
release/*.dll

# OS annoying files
.DS_Store
*.mdb
