#Ignore userprefs file (Contains stuff like which files you have open)
*.user
#Ignore MonoDevelop Parser Information Database
*.pidb
#Ignore build output folders
test-results/
TestResult.xml
Tomboy-library/Tomboy-library-tests/test_notes/proper_notes/Backup

bin/
obj/
release/*.dll
.vs

# OS annoying files
.DS_Store